<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Register Page</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body class="container text-center">
  <header>
    <h1>New User Creation</h1>
  </header>
  <main>
    <div class="register-form">
  	  <h3>Please fill the boxes with the necessary data</h3>
  	  <form th:action="@{/process_registration}" method="POST" th:object="${user}">
  	    <section class="form-section">
  	      <label class="form-label" for="username">Username (must be unique!)</label>
    	  <input type="text" id="username" th:field="*{username}" required maxlength="20">
  	    </section>
  	    <section class="form-section">
  	      <label class="form-label" for="password">Password (min 8 characters!)</label>
    	  <input type="password" id="password" th:field="*{password}" required minlength="8" maxlength="25">
  	    </section>
  	    <section class="form-section">
  	      <label class="form-label" for="email">E-mail</label>
    	  <input type="email" id="email" th:field="*{email}" required>
  	    </section>
  	    <section class="form-section">
  	      <label class="form-label" for="age">Your age</label>
    	  <input type="number" id="age" th:field="*{age}" required min="16" max="120">
  	    </section>
  	    <p>Choose a role:</p>
  	    <section class="form-section">
  	      <label class="form-label" for="role_user">User</label>
    	  <input type="radio" id="role_user" name="role" th:field="*{role}" value="USER" required>
    	  <br>
    	  <label class="form-label" for="role_admin">Admin</label>
    	  <input type="radio" id="role_admin" name="role" th:field="*{role}" value="ADMIN" required>
  	    </section>
  	    <button type="submit" class="form-button">Submit</button>
  	  </form>
  	</div>
  </main>
</body>
</html>